<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">User Details</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form role="form" method="post" action="{{ @root }}users/update">
    <div class="box-body">
      <input type="hidden" name="ID" value="{{ @user.ID }}" />

      <div class="form-group">
        <label for="UserName">Username</label>
        <input type="text" class="form-control" name="UserName" placeholder="Enter username" value="{{ @user.UserName }}"/>
      </div>

      <div class="form-group">
        <label for="DisplayName">Display Name</label>
        <input type="text" class="form-control" name="DisplayName" placeholder="Enter display name" value="{{ @user.DisplayName }}"/>
      </div>

      <div class="form-group">
        <label for="Role">Role</label>
        <select class="form-control" name="Role">
          <option value="1" {{ @user.Role==1?'selected="selected"':'' }}>Back Office</option>
          <option value="2" {{ @user.Role==2?'selected="selected"':'' }}>Front Office</option>
        </select>
      </div>

      <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" name="Password" placeholder="Enter a password">
      </div>

      <div class="form-group">
        <label for="Password2">Password</label>
        <input type="password" class="form-control" name="Password2" placeholder="Re-enter the password">
      </div>

    </div>
    <!-- /.box-body -->

    <div class="box-footer">
      <button type="submit" class="btn btn-success">Submit</button>
      <check if="{{ @user.ID > 0 }}">
        <a href="{{ @root }}users/delete/{{ @user.ID }}" role="button" class="btn btn-danger confirmation">Delete</a>
      </check>
    </div>
  </form>
</div>
<!-- /.box -->
