<div class="box">
  <div class="box-header">
    <h3 class="box-title">User List</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">

    <table id="userstable" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>User</th>
          <th>Display</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
      <repeat group="{{ @users }}" value="{{ @u }}">
        <tr>
          <td><a href="{{ @root }}users\edit\{{ @u.ID }}">{{ @u.UserName }}</a></td>
          <td>{{ @u.DisplayName }}</td>
          <td>
            <check if="{{ @u.Role==1 }}">Back Office</check>
            <check if="{{ @u.Role==2 }}">Front Office</check>
          </td>
        </tr>
      </repeat>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->

<script>
  $(document).ready(function () {
    $('#userstable').DataTable();
  });
</script>
