<div class="box">
  <div class="box-header">
    <h3 class="box-title">Client List</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">

    <table id="userstable" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
      <repeat group="{{ @clients }}" value="{{ @c }}">
        <tr>
          <td><a href="{{ @root }}clients\edit\{{ @c.ID }}">{{ @c.Name }}</a></td>
        </tr>
      </repeat>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->

<script>
  $(document).ready(function () {
    $('#userstable').DataTable();
  });
</script>
