<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Client Details</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form role="form" method="post" action="{{ @root }}clients/update">
    <div class="box-body">
      <input type="hidden" name="ID" value="{{ @client.ID }}" />

      <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" name="Name" placeholder="Enter client's name" value="{{ @client.Name }}"/>
      </div>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
      <button type="submit" class="btn btn-success">Submit</button>
      <check if="{{ @client.ID > 0 }}">
        <a href="{{ @root }}client/delete/{{ @client.ID }}" role="button" class="btn btn-danger confirmation">Delete</a>
      </check>
    </div>
  </form>
</div>
<!-- /.box -->
</script>
