    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Developed by <a href="https://andrev.me" target="blank">andrev</a>
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; <a href="#">Flexotuff</a>.</strong> All rights reserved.
  </footer>

</div>

<!-- Datatables -->
<script src="{{ @adminltebase }}bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{{ @adminltebase }}bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- AdminLTE -->
<script src="{{ @adminltebase }}dist/js/adminlte.min.js?{{ @adminlteversion }}"></script>
<!-- Other -->
<script src="{{ @root }}public/bootbox/bootbox.min.js?4.4.0"></script>
<script src="{{ @root }}public/app/app.js?1.0"></script>

</body>
</html>
