<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>{{ @brand }} | Admin</title>

  <!-- AdminLTE: bootstrap and fonts -->
  <link rel="stylesheet" href="{{ @adminltebase }}bower_components/bootstrap/dist/css/bootstrap.min.css?{{ @adminlteversion }}">
  <link rel="stylesheet" href="{{ @adminltebase }}bower_components/font-awesome/css/font-awesome.min.css?{{ @adminlteversion }}">
  <link rel="stylesheet" href="{{ @adminltebase }}bower_components/Ionicons/css/ionicons.min.css?{{ @adminlteversion }}">
  <!-- Datatables -->
  <link rel="stylesheet" href="{{ @adminltebase }}bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <!-- AdminLTE -->
  <link rel="stylesheet" href="{{ @adminltebase }}dist/css/AdminLTE.min.css?{{ @adminlteversion }}">
  <link rel="stylesheet" href="{{ @adminltebase }}dist/css/skins/_all-skins.min.css?{{ @adminlteversion }}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  <!-- Jquery & Bootstrap -->
  <script src="{{ @adminltebase }}bower_components/jquery/dist/jquery.min.js?{{ @adminlteversion }}"></script>
  <script src="{{ @adminltebase }}bower_components/bootstrap/dist/js/bootstrap.min.js?{{ @adminlteversion }}"></script>

</head>

<body class="hold-transition skin-blue-light sidebar-mini">
  <div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

      <!-- Logo -->
      <a href="/" class="logo">
        <span class="logo-mini"><b>{{ @brandmini }}</b></span>
        <span class="logo-lg"><b>{{ @brand }}</b></span>
      </a>

      <!-- Header Navbar -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">Andre van der Wal</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">

          <!-- ADMIN -->
          <li class="header">ADMIN</li>

          <!-- users -->
          <li class="treeview">
            <a href="#">
              <i class="fa fa-users"></i>
              <span>Users</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li {{ @pageID=='users-new'?'class="active"':'' }}><a href="{{ @root }}users/new">New User</a></li>
              <li {{ @pageID=='users-list'?'class="active"':'' }}><a href="{{ @root }}users/list">All Users</a></li>
            </ul>
          </li>

          <!-- clients -->
          <li class="treeview">
            <a href="#">
              <i class="fa fa-user-md"></i>
              <span>Clients</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li {{ @pageID=='clients-new'?'class="active"':'' }}><a href="{{ @root }}clients/new">New Client</a></li>
              <li {{ @pageID=='clients-list'?'class="active"':'' }}><a href="{{ @root }}clients/list">All Clients</a></li>
            </ul>
          </li>

          <!-- OPERATIONS -->
          <li class="header">OPERATIONS</li>
          <li>
            <a href="#">
              <i class="fa fa-plus"></i>
              <span>New Job</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-list"></i>
              <span>All Jobs</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-line-chart"></i>
              <span>Overview</span>
            </a>
          </li>

          <!-- PROFILE -->
          <li class="header">PROFILE</li>
          <li {{ @pageID=='users-edit'?'class="active"':'' }}>
            <a href="{{ @root }}users/edit">
              <i class="fa fa-user"></i>
              <span>Andre van der Wal</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-sign-out"></i>
              <span>Sign Out</span>
            </a>
          </li>

        </ul>
        <!-- /.sidebar-menu -->
      </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <check if="{{ count(@alerts) > 0 }}">
        <section class="content-header" id="alerts-container">
          <repeat group="{{ @alerts }}" value="{{ @alert }}">
            <div class="alert alert-{{ @alert->type }}" role="alert">
              <strong>{{ @alert->label }}</strong> {{ @alert->text }}
            </div>
          </repeat>
        </section>
      </check>

      <!-- Main content -->
      <section class="content container-fluid">
