<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="en">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>{{ @brand }} | Log in</title>

  <!-- AdminLTE: bootstrap and fonts -->
  <link rel="stylesheet" href="{{ @adminltebase }}bower_components/bootstrap/dist/css/bootstrap.min.css?{{ @adminlteversion }}">
  <link rel="stylesheet" href="{{ @adminltebase }}bower_components/font-awesome/css/font-awesome.min.css?{{ @adminlteversion }}">
  <link rel="stylesheet" href="{{ @adminltebase }}bower_components/Ionicons/css/ionicons.min.css?{{ @adminlteversion }}">

  <!-- AdminLTE -->
  <link rel="stylesheet" href="{{ @adminltebase }}dist/css/AdminLTE.min.css?{{ @adminlteversion }}">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <b>Flexotuff</b> Admin</span>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form action="{{ @root }}session/login" method="post">
        <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Username" />
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password" />
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
          </div>
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
        </div>
      </form>

    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->

  <script src="{{ @adminltebase }}bower_components/jquery/dist/jquery.min.js"></script>
  <script src="{{ @adminltebase }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
